*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    max-width: 456px;
    margin: 80px auto;
}

.card{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.pink-card{
    background-color: rgb(226, 20, 137);    
    margin-top: -46px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

.pink-card h3{
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p-div p{
    font-weight: 500;
    line-height: 25px;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}