@font-face {
    font-family: 'Gilroy Medium';
    src: url('fonts/gilroy-medium.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Gilroy Medium', sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.extralinks .nav-links{
    display: block;
}

a{
    text-decoration: none;
    color: #000;
}

.active{
    color: rgb(0, 115, 255);
}

.nav-links a{
    margin-left: 10px;
}

.getstarted-btn{
    background-color: rgb(0, 115, 255);
    border-radius: 25px;
    border: none;
    padding: 8px 18px;
    color: #fff;
    font-weight: 100;
    margin-left: 8px;
}

.hero{
    max-width: 756px;
    margin: 70px auto;
}

.hero h2{
    text-align: center;
    line-height: 50px;
    font-size: 35px;
}

.hero h2 span{    
    color: rgb(0, 115, 255);
}

.hero .hero-para{    
    font-size: 15px;
    text-align: center;
    max-width: 556px;
    margin: 20px auto;
    line-height: 25px;
    font-weight: 100;
}

.heroactionbtn{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 max-width: 256px;
 margin: 40px auto;
}

.heroactionbtn .sign-btn{
    background-color: rgb(0, 115, 255);
    border-radius: 25px;
    border: none;
    padding: 10px 32px;
    color: #fff;
    font-weight: 100;
    font-size: 15px;
}

.heroactionbtn .learn-btn{
    color: rgb(0, 115, 255);
    border-radius: 25px;
    border: none;
    font-weight: 100;
    font-size: 15px;
    margin-left: 20px;
    background-color: transparent;
}

.mobile-nav{
    display: none;
    font-size: 32px;
}

@media screen and (max-width: 565px) {
    .mobile-nav{
        display: block;
    }
    
    .extralinks{
        display: none;
    }
   
    nav{
        justify-content: space-between;
    }

    .nav-links{
        display: none;
    }
}